<div class="sorting-field">
  Sort by:
  <mat-button-toggle-group class="sorting-btns" name="fontStyle" aria-label="Font Style" (change)="handleChange($event.value)">
      <mat-button-toggle value="name">Name</mat-button-toggle>
      <mat-button-toggle value="temperature">Temperature</mat-button-toggle>
      <mat-button-toggle value="humidity">Humidity</mat-button-toggle>
      <mat-button-toggle value="preassure">Preassure</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="sorting-name">
  Sort by name:
  <mat-form-field class="full-width" appearance="fill">
    <input matInput placeholder="Name">
  </mat-form-field>
</div>