<mat-card class="card">
    <mat-card-header class="card-header">
        <fa-icon class="card-header-xmark" [icon]="xmark" (click) = "handleDelete(item.info.name)"></fa-icon>
    </mat-card-header>
    <mat-card-title-group>
        <mat-card-title class = "card-title">{{item.info.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content class="card-content" class="full-width">
        <img class="card-image" src={{item.image.urls.small}}>
        <div class="card-stats">
            <div class='card-stat'>
                <fa-icon [icon]="icon"></fa-icon>
                {{item.info.weather[0].description}}
            </div>
            <div class='card-stat'>
                <fa-icon [icon]="droplet" title="Humidity"></fa-icon>
                {{item.info.main.humidity}}
            </div>
            <div class='card-stat'>
                <fa-icon [icon]="temp" title="Temperature"></fa-icon>
                {{item.info.main.temp}}
            </div>
            <div class='card-stat'>
                <fa-icon [icon]="preassure" title="Preassure"></fa-icon>
                {{item.info.main.pressure}}
            </div>

        </div>
    </mat-card-content>
    <!-- <mat-card-subtitle>
        Subs
    </mat-card-subtitle>
    <mat-card-footer class = "card-buttons">
        <div class="example-button-row">
            <button mat-raised-button color="primary">Link</button>
        </div>
        <button (click)="toggleLike()" mat-icon-button color= "{{ isLiked ? 'warn' : ''}}" aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
    </mat-card-footer> -->
</mat-card>