<div class="modal_background" (click)="close.emit()"></div>


<form class="modal" [formGroup]="addCityForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" [ngStyle]="{'min-width':'390px'}">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="City" formControlName="name">
              <mat-error *ngIf="addCityForm.controls['name'].errors">
                Wrong <strong>name</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Add</button>
      </mat-card-actions>
    </mat-card>
  </form>