<div class="modal_background" (click)="close.emit()"></div>


<form class="modal" [formGroup]="addCityForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header class='modal-header'>
            <mat-card-title>Add city</mat-card-title>
            <mat-icon class="close-btn" (click)='close.emit()'>close</mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>City</mat-label>
                    <input type="text"
                           placeholder="City"
                           aria-label="City"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                        <!-- <input ngx-google-places-autocomplete
                            (onAddressChange)="AddressChange($event)" />
                        {{ formattedaddress }} -->
                    </mat-form-field>
                    <mat-error *ngIf="addCityForm.controls['name'].errors">
                        Wrong <strong>name</strong>
                    </mat-error>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="model-btns-container">
            <button mat-raised-button color="primary" type="submit">Add</button>
        </mat-card-actions>
    </mat-card>
</form>