<app-header (start)="startReloading()" (stop)="stopReloading()" [isWorking]="shouldReload" (open)="modal = true"></app-header>
<app-modal (addCityEvent)="addCity($event)" *ngIf="modal" (close)="modal = false" [alreadyAdded]='cities'></app-modal>
<main class = "main">
    <app-sort></app-sort>
    <div class="cards-container">
        <ng-container *ngIf="cities; else addCityTemp">
            <app-weather-card (deleteEvent)="deleteCity($event)" *ngFor="let city of citiesInfo" [cardState]="city"></app-weather-card>
        </ng-container>
    </div>
</main>
<app-footer></app-footer>

<ng-template #addCityTemp><strong>Add new City, please</strong></ng-template>